body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 220px; /* Ancho y espacio para iconos */
    background-color: #f8f8f8; /* fondo */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra derecha del menú izquierdo */
    display: flex; /* centrar vertical */
    flex-direction: column; /* Alinear vertical */
    align-items: flex-start; /* Alinear izquierda */
}

.sidebar .profile-info {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex; /* centrar vertical */
    flex-direction: column; /* Alinear vertical */
    align-items: center; /* Centrar horizontal */
}

.sidebar .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ccc; /* Simula el fondo de la imagen */
    margin-bottom: 10px;
    /* Para simular un icono de "añadir imagen" */
    position: relative; /* Crear un contexto de posicionamiento */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; /* Tamaño del icono */
    color: #fff; /* Color del icono */
    cursor: pointer; /* Indicar que es interactivo */
}

/* Simular un icono de "signo +" para añadir imagen */
.sidebar .profile-image::before {
    content: '+';
    position: absolute;
    font-size: 1.5em;
    color: #fff;
}

.sidebar .profile-name {
    font-weight: bold;
    color: #333;
    text-align: center; /* Asegurar que el texto esté centrado */
}

.sidebar .user-nav {
    width: 100%;
}

.sidebar .user-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .user-nav > ul > li > a { /* menú izquierda principales */
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: #555;
    border-radius: 5px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Negrita */
}

.sidebar .user-nav > ul > li > a:hover {
    background-color: #e0e0e0;
    color: #007bff;
}

.sidebar .user-nav > ul > li > ul { /* menú izquiera hijos de events */
    list-style: none;
    padding-left: 20px; /* más margen izquierdo para el submenú */
    margin: 5px 0;
}

.sidebar .user-nav > ul > li > ul > li > a { /* Propiedades para submenú */
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #777; /* Color más claro de la letra*/
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f8f8f8; /* color fondo más claro cuando posiciona el cursor en transition*/
    transition: background-color 0.3s ease;
}

.sidebar .user-nav > ul > li > ul > li > a:hover {
    background-color: #e0e0e0;
    color: #007bff;
}

.sidebar .user-nav li a {
    display: flex; /* Para alinear icono y texto */
    align-items: center; /* Centrar verticalmente icono y texto */
    padding: 12px 15px;
    text-decoration: none;
    color: #555;
    border-radius: 5px; /* Bordes redondeado para las opciones */
    margin-bottom: 8px; /* Espacio entre las opciones */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.sidebar .user-nav li a:hover {
    background-color: #e0e0e0; /* Fondo gris claro al pasar el cursor */
    color: #007bff; /* Color primario al pasar el cursor */
}

/*Botones añadidos para editar eventos*/
    .event .actions-buttons {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px;
    }

    .event .actions-buttons a,
    .event .actions-buttons input[type="submit"] {
        display: block;
        padding: 8px 15px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 0.9em;
        cursor: pointer;
        transition: background-color 0.3s ease;

    }
        .event .actions-buttons .edit-button {
            background-color: #dddddf;
            color: rgb(104, 102, 102);
            border: none;
        }
        .event .actions-buttons .edit-button:hover {
            background-color: #0056b3;
        }
        .event .actions-buttons .delete-button {
            background-color: #dddddf;
            color: rgb(104, 102, 102);
            border: none;
        }
        .event .actions-buttons .delete-button:hover {
            background-color: #0056b3;
        }

/* Estilo para la opción activa */
.sidebar .user-nav li a.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.event {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.event .event-image {
    height: 150px;
    border: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.event .event-image img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.event h3 {
    margin-bottom: 5px;
}

.event h4 {
    margin-bottom: 2px;
}

/* Responsiva */
@media (max-width: 960px) {
    .container {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        border-right: none;
        padding-right: 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }

    .event-header {
        flex-direction: column;
    }

    .event-header .image-container, .event-header .static-map-container {
        width: 100%;
        margin-bottom: 15px;
    }

}