html, body{
    margin: 0;
    height: 100%;
    background-color: rgb(184, 204, 9);
    overflow: hidden;
}

#title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: black;
    background-color: aliceblue;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}
#signUpTitle,#signInTitle{
    
}

#signInForm, #signUpForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}
#signInForm{
    visibility: hidden;
}


@media (max-width: 768px) {
    #form-container {
        flex-direction: column;
        gap: 20px;
    }
}
